/* :root{
    --light-color: yellow;
    --dark-color: maroon;
} */

body{
    font-family: 'Satisfy', cursive;
   
}
h1{
  
    font-size: 40px;
    /* margin: 0 auto;  */
    text-align: center;
 

}
h2{

    font-family: 'Lexend Zetta', sans-serif;
    font-size: 12px;
    /* margin: 0 auto;  */
    text-align: center;
}
nav{
    padding-top: 3%;
    text-align: center;
    font-size: 15px;
}


a{
    font-family: 'Lexend Zetta', sans-serif;
    padding-right: 15px;
    text-decoration: none;
    color: black;
   
}

input{
    display: none;
    float: right;
    border: 0;
    margin-top: 6%;
    margin-right: 5%;
}
button{
    margin-top: 6%;
    margin-left: 5%;
}

.fa-search{
    float: right;
    border: 0;
    margin-top: 6%;
    margin-right: 5%;
}
.gallery-big{
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
    height: 600px;
}
.col-inside{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    

}
.col-inside img{
    width: 70%;
    height: 100%;
}
#smol{
    padding-top: 2%;
}
p{
    padding-top: 5%;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    text-align: center;
}
.horiz-gallery{
    display: flex;
    height: 250px;
    justify-content: space-around
    }
.horiz-gallery img{
    width: 20%;
    
}
button{
    border: none;
    background: none;
    padding-right: 2%;
}